.profile-pic,
.profile-text h1 {
    display: flex;
    justify-content: center;
}

.profile__1,
.profile__2,
.profile__3 {
    display: flex;
    justify-content: center;
}

.committee,
.legislation {
    margin-top: 4rem;
    margin-left: 12rem;
}